body{
	font-family: Arial, sans-serif;
}

.preloader{
	height: 100%;
	background-color: #000;
	position: fixed;
	z-index: 3;
	width: 100%;
	-webkit-animation: del 5s step-end forwards ; 
	-o-animation: del 5s step-end forwards;
	animation: del 5s step-end forwards;
}

@keyframes del{
	from{
		z-index: 3;
		opacity: 1;
	}
	to{
		z-index: 0;
		opacity: 0;
	}
}

.loader{
	height: 100%;
	width: 100%;
	background-color: #000;
	position: relative;
	z-index: 4;
}

.loader_name{
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	line-height: 20px;
}

.loader_items{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,calc(-50% - 20px));
	-webkit-animation: loading 1s infinite; 
	-o-animation: loading 1s infinite;
	animation: loading 1s infinite;
}

@keyframes loading{
	0%{
		transform: translate(calc(-50% - 20px),calc(-50% - 20px));
	}
	50%{
		transform: translate(calc(-50% + 20px),calc(-50% - 20px));
	}
	100%{
		transform: translate(calc(-50% - 20px),calc(-50% - 20px));
	}
}

.loader_item{
	background-color: #fff;
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	-webkit-animation: loadingColor 1s infinite; 
	-o-animation: loadingColor 1s infinite;
	animation: loadingColor 1s infinite;
}

.loader_item:nth-child(1){
	-webkit-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.loader_item:nth-child(2){
	-webkit-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loader_item:nth-child(3){
	-webkit-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

@keyframes loadingColor{
	0%{
		background-color: #fff;
	}
	50%{
		background-color: #d17700;
		border-color: #d17700;
	}
	100%{
		background-color:#fff;
		border-color: #fff;
	}
}

header{
	z-index: 3;
	opacity: 1;
}

nav{
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 300px;
	float: left;
	-webkit-animation: comming 2s ease;
	-o-animation:  comming 2s ease;
	animation:  comming 2s ease; 
	-webkit-animation-delay: 5.2s;
	-o-animation-delay: 5.2s;
	animation-delay: 5.2s; 
}

.menu{
	float: left;
	padding-left: 330px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;

	-webkit-animation: topshift 0.4s ease forwards;
	-o-animation: topshift 0.4s ease forwards;
	animation: topshift 0.4s ease forwards; 
	opacity: 0;

}

.main{
	width: 100%;
	height: 100%;
	background:url(../img/man.png) 90% 100%/auto 85% no-repeat , url(../img/bg.png) center/cover no-repeat;
}

.title_container{
	float: left;
	margin: 200px 0px 0px 280px;
	color: #2c384a;
	text-align: center;
	opacity: 0;
	-webkit-animation: titlemove 1s ease forwards; 
	-o-animation: titlemove 1s ease forwards;
	animation: titlemove 1s ease forwards;
	-webkit-animation-delay: 7.6s;
	-o-animation-delay: 7.6s;
	animation-delay: 7.6s;


}

.title_container h1{
	font-size: 60px;
	font-weight: bold;
}


.title_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.title_container input{
	height: 40px;
	text-align: center;
	border:2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color:#6d7682 ;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
	transition: all 0.2s;
	transform: scale(1);
}

.menu li a{
	transition: all 0.4s;
	color: #fff;
	transform: scale(1);
	display: inline-block;
}

.menu li a:visited{
	color:#fff;
}

.menu li a:hover{
	color:#e88604;
	transform: scale(1.1);
}

main{
	width: 100%;
	height: 100%;
}


.title_container input:hover{
	background: #344051;
	color: #fff;
}

.title_container input:active{
	transform: scale(1.1);
}

@keyframes comming{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

@keyframes topshift{
	from{
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}

.menu li:nth-child(1){
	animation-delay: 5.6s;
}

.menu li:nth-child(2){
	animation-delay: 5.8s;
}

.menu li:nth-child(3){
	animation-delay: 6s;
}

.menu li:nth-child(4){
	animation-delay: 6.4s;
}

.menu li:nth-child(5){
	animation-delay: 6.6s;
}

.menu li:nth-child(6){
	animation-delay: 6.8s;
}

@keyframes titlemove{
	from{
		z-index: 0;
		opacity: 0;
		margin-left: -500px;
	}
	to{
		z-index: 2;
		opacity: 1;
		margin-left: 280px;
	}
}

.about h2{
	text-align: center;
	font-weight: bold;
	margin-top: 125px;
	text-transform: uppercase;
	font-size: 25px;
	color: #263244;
}

.about #chert{
	margin: 15px 0px 0px 47.9%; /*верх право низ лево*/
	width: 65px;
}

.about #photo{
	margin: 60px 0px 0px 43.5%; /*верх право низ лево*/
}

.about #p1About{
	margin: 30px 300px 0px 300px; /*верх право низ лево*/
	text-align: justify;;
	font-size: 15px;
	color: #3f495a;
}

.about #p2About{
	margin: 43px 300px 40px 300px; /*верх право низ лево*/
	text-align: justify;;
	font-size: 15px;
	color: #3f495a;
}

.about input{
	background: url(../img/download.png) no-repeat;
	background-position: left 10px bottom 50%;
	height: 40px;
	text-align: center;
	border:2px solid #6d7682;
	border-radius: 5px;
	color:#6d7682 ;
	font-size: 13px;
	margin-left: 45%;
	padding: 0px 15px 0px 34px;
	transition: all 0.1s;
	transform: scale(1);
}

.about input:active{
	color: #d17700;
	border:2px solid #d17700;
	transform: scale(1.1);
}

.skills{
	width: 100%;
	height: 100%;
	background: url(../img/skillsBack.png) center/cover no-repeat;
	background-attachment: fixed;
}

.skills h2{
	padding-top: 125px;
	text-align: center;
	font-weight: bold;
	margin-top: 100px;
	text-transform: uppercase;
	font-size: 25px;
	color: #263244;
}

.skills #chert{
	margin: 15px 0px 0px 47.9%; /*верх право низ лево*/
	width: 65px;
}

.items .item1{
	margin: 110px 50px 0px 0px; /*верх право низ лево*/
	width: 20%;
	float:left;
	text-align:center;
	padding: 5px;
	transition: all 0.1s;
	transform: scale(1);
}

.item1:hover{
	transform: scale(1.1);
	box-shadow: 10px 5px 5px #cf7600;
	border: thick double #000;
}

.items .item2{
	margin: 110px 50px 0px 0px; /*верх право низ лево*/
	width: 20%;
	float:left;
	text-align:center;
	padding: 5px;
	transition: all 0.1s;
	transform: scale(1);
}

.item2:hover{
	transform: scale(1.1);
	box-shadow: 10px 5px 5px #cf7600;
	border: thick double #000;
}


.items .item3{
	margin: 110px 50px 0px 0px; /*верх право низ лево*/
	width: 20%;
	float:left;
	text-align:center;
	padding: 5px;
	transition: all 0.1s;
	transform: scale(1);
}

.item3:hover{
	transform: scale(1.1);
	box-shadow: 10px 5px 5px #cf7600;
	border: thick double #000;
}

.items .item4{
	margin-top: 110px;
	width: 20%;
	float:left;
	text-align:center;
	padding: 5px;
	transition: all 0.1s;
	transform: scale(1);
}

.item4:hover{
	transform: scale(1.1);
	box-shadow: 10px 5px 5px #cf7600;
	border: thick double #000;
}

.items{
	margin: 110px 0px 0px 150px; /*верх право низ лево*/
}

.items img{
	height: 60px;
	margin-bottom: 44px; 
}

.items h4{
	color: #cf7600;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}

.items p{
	text-align: center;
	font-size: 15px;
}

.cases h2{
	text-align: center;
	font-weight: bold;
	margin-top: 100px;
	text-transform: uppercase;
	font-size: 25px;
	color: #263244;
}

.cases #chert{
	margin: 15px 0px 0px 47.9%; /*верх право низ лево*/
	width: 65px;
}

.cases>p{
	margin: 40px 0px 0px 430px; /*верх право низ лево*/
	text-align: justify;
}

.cases img{
	margin: 50px 0px 0px 200px; /*верх право низ лево*/
}

.client h3{
	margin: 0px 0px 20px 200px; /*верх право низ лево*/
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

.client p{
	margin: 0px 0px 20px 200px; /*верх право низ лево*/
}

.client a{
	margin: 0px 0px 20px 200px; /*верх право низ лево*/
}

.casescl .client{
	float:left;
}	

.casescl .project{
	width: 75%;
}	

.project h3{
	margin: 0px 0px 20px 300px; /*верх право низ лево*/
	font-weight: bold;
	font-size: 20px;
}

.project p{
	text-align: justify;
	margin-left: 300px;
	font-size: 15px;
}

.project{
	margin-left: 200px;
}

.casescl{
	margin-bottom: 40px;
}

.cases input{
	background-color: #63b5ae;
	height: 40px;
	text-align: center;
	border:2px solid;
	border-radius: 5px;
	color:#fff;
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 200px; 
	letter-spacing: -1.8px;
	padding: 0px 40px; /* верх\низ право\лево*/
	transition: all 0.1s;
	transform: scale(1);
}


.cases input:hover{
	color: #000;
}


.price h2{
	margin: 200px 0px 65px 0px; /*верх право низ лево*/
	text-align: center;
	font-weight: bold;
	font-size: 35px;
}

.price h4{
	margin: 0px 0px 20px 300px;  /*верх право низ лево*/
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

#type_site{
	background: #eeeeee;
	margin-left: 300px;
	padding-left: 25px;
	font-size: 15px;
	width: 950px;
	height: 45px;
}

.price select{
	margin-bottom: 50px;
}

#type_design{
	background: #eeeeee;
	margin-left: 300px;
	padding-left: 25px;
	font-size: 15px;
	width: 950px;
	height: 45px;
}

#type_adapt{
	background: #eeeeee;
	margin-left: 300px;
	padding-left: 25px;
	font-size: 15px;
	width: 950px;
	height: 45px;
}

.price img{
	width: 950px;
	margin-left: 300px;
}

.itog .time{
	float: left;
	margin: 0px 870px 0px 300px; /*верх право низ лево*/
}

.itog .time p{
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 15px;
}

.itog .priceKonch p{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
}

.price{
	margin-bottom: 150px;
}

.statistics{
	background: url(../img/backstat.png) center/cover no-repeat;
    margin-bottom: 110px;
    height: 100%;
    background-attachment: fixed;
}

.statistics h2{
	text-align: center;
	font-weight: bold;
	padding-top: 180px;
	text-transform: uppercase;
	font-size: 28px;
	color: #263244;
	float: none;
}

.statistics #chert{
	margin: 15px 0px 190px 47%; /*верх право низ лево*/
	width: 65px;
	float: none;
}

.allstat .clients {
	margin: 0px 50px 0px 70px; /*верх право низ лево*/
	width: 20%;
	float:left;
	text-align:center;
}

.allstat .hours{
	width: 20%;
	float:left;
	text-align:center;
	margin-right: 50px;
}

.allstat .end_projects{
	width: 20%;
	float:left;
	text-align:center;
	margin-right: 50px;
}

.allstat .reward{
	width: 20%;
	float:left;
	text-align:center;
}

.allstat img{
	height: 70px;
	margin-bottom: 20px; 
}

.chsil{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}

.tex{
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #323e4f;
	font-weight: bold;
}

.feedback{
	margin-bottom: 150px;
}

.feedback h2{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	color: #243042;
	float: none;
}

.feedback #chert{
	margin: 15px 0px 65px 48%; /*верх право низ лево*/
	width: 65px;
	float: none;
}

.feedback #photo{
	margin: 0px 0px 40px 46%; /*верх право низ лево*/
	height: 100px;
	height: 120px;
}

.feedback p{
	margin: 0px 0px 35px 470px;
	text-align: center;
	width: 600px;
	font-size: 15px;
}

.feedback span{
	font-weight: bold;
}

.contacts{
	background:url(../img/backcont.png) center/cover no-repeat;
}

.contacts h2{
	text-align: center;
	font-weight: bold;
	padding-top: 80px;
	text-transform: uppercase;
	font-size: 25px;
	color: #fff;
	float: none;
}

.contacts #chert{
	margin: 15px 0px 40px 48%; /*верх право низ лево*/
	width: 65px;
	float: none;
}

.contacts>p{
	color: #fff;
	text-align: center;
	font-size: 15px;
}

.contacts .geo{
	margin: 50px 50px 0px 260px; /*верх право низ лево*/
	width: 20%;
	float:left;
	text-align:center;
	transition: all 0.1s;
	transform: scale(1);
}

.geo:hover{
	transform: scale(1.1);
}

.contacts .mail{
	margin: 50px 50px 0px 0px; /*верх право низ лево*/
	width: 20%;
	float:left;
	text-align:center;
	transition: all 0.1s;
	transform: scale(1);
}

.mail:hover{
	transform: scale(1.1);
}

.contacts .number_phone{
	width: 20%;
	float:left;
	text-align:center;
	margin-top: 50px;
	transition: all 0.1s;
	transform: scale(1);
}

.number_phone:hover{
	transform: scale(1.1);
}

.geo p{
	color:#fff;
	margin-top: 15px;
	font-size: 15px;
	text-align: center;
}

.mail p{
	color:#fff;
	margin-top: 15px;
	font-size: 15px;
	text-align: center;
}

.number_phone p{
	color:#fff;
	margin-top: 15px;
	font-size: 15px;
	text-align: center;
}

.contacts h4{
	margin-top: 200px;
	font-size: 20px;
	float: none;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
}

.contacts #input2{
	margin: 50px 0px 20px 0px; /*верх право низ лево*/
	float: left;
	width: 350px;
	height: 37px;
	padding-left: 15px;
	background-color: #d9dce2;
}

#input2:focus{
	border: 2.5px solid #cf7600;
	border-radius: 5px;
}

.contacts #input1{
	margin: 50px 30px 40px 400px; /*верх право низ лево*/
	float: left;
	width: 350px;
	height: 37px;
	padding-left: 15px;
	background-color: #d9dce2;
}

#input1:focus{
	border: 2.5px solid #cf7600;
	border-radius: 5px;
}

.contacts  textarea{
	margin: 0px 0px 30px 400px; /*верх право низ лево*/
	padding: 15px 0px 0px 15px; /*верх право низ лево*/
	width: 730px; 
	height: 200px;
	background-color: #d9dce2;
}

textarea:focus{
	border: 2.5px solid #cf7600;
	border-radius: 5px;
}

.contacts #input3{	
	background: none; 
	height: 45px;
	width: 125px;
	text-align: center;
	border:2px solid;
	border-radius: 5px;
	color:#fff;
	font-size: 20px; 
	letter-spacing: -1.8px;
	margin: 0px 0px 150px 700px; /*верх право низ лево*/
	transition: all 0.1s;
	transform: scale(1);
}

#input3:active{
	transform: scale(1.1);
	color:#cf7600;
}



footer{
	background:url(../img/backfoot.png) center/cover no-repeat;
	color:#fff;
	font-size: 10px;
	text-align: center;
	letter-spacing: 0.5px;
	padding: 45px;
}

