@font-face {
	font-family: 'FranklinGot';
	src: url('../fonts/framd.eot');
	src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: Arial, sans-serif;
}

.preloader{
	height: 100%;
	background-color: #000;
	position: fixed;
	width: 100%;
	-webkit-animation: del 5s step-end forwards ; 
	-o-animation: del 5s step-end forwards;
	animation: del 5s step-end forwards;
}

@keyframes del{
	from{
		z-index: 4;
		opacity: 1;
	}
	to{
		z-index: -5;
		opacity: 0;
	}
}

.loader{
	height: 100%;
	width: 100%;
	background-color: #000;
	position: relative;
	z-index: 4;
}

.loader_name{
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	line-height: 20px;
}

.loader_items{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,calc(-50% - 20px));
	-webkit-animation: loading 1s infinite; 
	-o-animation: loading 1s infinite;
	animation: loading 1s infinite;
}

@keyframes loading{
	0%{
		transform: translate(calc(-50% - 20px),calc(-50% - 20px));
	}
	50%{
		transform: translate(calc(-50% + 20px),calc(-50% - 20px));
	}
	100%{
		transform: translate(calc(-50% - 20px),calc(-50% - 20px));
	}
}

.loader_item{
	background-color: #fff;
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	-webkit-animation: loadingColor 1s infinite; 
	-o-animation: loadingColor 1s infinite;
	animation: loadingColor 1s infinite;
}

.loader_item:nth-child(1){
	-webkit-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.loader_item:nth-child(2){
	-webkit-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loader_item:nth-child(3){
	-webkit-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

@keyframes loadingColor{
	0%{
		background-color: #fff;
	}
	50%{
		background-color: #d17700;
		border-color: #d17700;
	}
	100%{
		background-color:#fff;
		border-color: #fff;
	}
}

header{
	z-index: 3;
	opacity: 1;
}

nav{
	z-index: 10;
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	float: left;
	-webkit-animation: comming 2s ease;
	-o-animation:  comming 2s ease;
	animation:  comming 2s ease; 
	-webkit-animation-delay: 5.2s;
	-o-animation-delay: 5.2s;
	animation-delay: 5.2s; 
	font-family: 'FranklinGot', sans-serif;
}

.menu{
	float: left;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	-webkit-animation: topshift 0.4s ease forwards;
	-o-animation: topshift 0.4s ease forwards;
	animation: topshift 0.4s ease forwards; 
	opacity: 0;

}

.white-btn{
	color: white;
}

.white-btn:visited{
	color: white;
}

.main{
	width: 100%;
	height: 100%;
	background:url(../img/man.png) 90% 100%/auto 85% no-repeat , url(../img/bg.png) center/cover no-repeat;
}

.title_container{
	float: left;
	color: #2c384a;
	text-align: center;
	width: 100%;
	opacity: 0;
	-webkit-animation: titlemove 1s ease forwards; 
	-o-animation: titlemove 1s ease forwards;
	animation: titlemove 1s ease forwards;
	-webkit-animation-delay: 7.6s;
	-o-animation-delay: 7.6s;
	animation-delay: 7.6s;
}

.title_container h1{
	font-family: Arial,sans-serif;
	font-size: 72px;
	font-weight: bold;
}


.title_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.title_container input{
	height: 40px;
	text-align: center;
	border:2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color:#6d7682 ;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
	transition: all 0.2s;
	transform: scale(1);
}

@media(max-width: 992px){
	.title_container, .title_container h4, .title_container input{
		color: white;
		position: relative;
		z-index: 3;
	}

	.title_container input{
		border:2px solid #fff;
	}

	.main{
		position: relative;
	}

	.main::after{
		content: "";
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0,0,0,0.4);
		z-index: 1;
	}
}

.menu li a{
	transition: all 0.4s;
	color: #fff;
	transform: scale(1);
	display: inline-block;
}

.menu li a:visited{
	color:#fff;
}

.menu li a:hover{
	color:#e88604;
	transform: scale(1.1);
}

main{
	width: 100%;
	height: 100%;
}


.title_container input:hover{
	background: #344051;
	color: #fff;
}

.title_container input:active{
	transform: scale(1.1);
}

@keyframes comming{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

@keyframes topshift{
	from{
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}

.menu li:nth-child(1){
	animation-delay: 5.6s;
}

.menu li:nth-child(2){
	animation-delay: 5.8s;
}

.menu li:nth-child(3){
	animation-delay: 6s;
}

.menu li:nth-child(4){
	animation-delay: 6.4s;
}

.menu li:nth-child(5){
	animation-delay: 6.6s;
}

.menu li:nth-child(6){
	animation-delay: 6.8s;
}

@keyframes titlemove{
	from{
		z-index: 0;
		opacity: 0;
		margin-left: -500px;
	}
	to{
		z-index: 2;
		opacity: 1;
		margin-left: 0px;
	}
}

.about h2{
	font-family: Arial,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 27px;
	color: #263244;
}

.about #chert{
	width: 65px;
}

.about #p1About{
	text-align: justify;;
	font-size: 15px;
	color: #3f495a;
}

.about #p2About{
	text-align: justify;;
	font-size: 15px;
	color: #3f495a;
}

.about input{
	background: url(../img/download.png) no-repeat;
	background-position: left 10px bottom 50%;
	height: 40px;
	text-align: center;
	border:2px solid #6d7682;
	border-radius: 5px;
	color:#6d7682 ;
	font-size: 13px;
	padding: 0px 15px 0px 34px;
	transition: all 0.1s;
	transform: scale(1);
}

.about input:active{
	color: #d17700;
	border:2px solid #d17700;
	transform: scale(1.1);
}

.skills{
	margin-top: 75px; 
	background: url(../img/skillsBack.png) center/cover no-repeat;
	background-attachment: fixed;
}

.skills h2{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	color: #263244;
}

.skills #chert{
	width: 65px;
}

.item1{
	text-align:center;
	transition: all 0.1s;
	transform: scale(1);
}

.item1:hover{
	transform: scale(1.1);
	box-shadow: 10px 5px 5px #cf7600;
	border: thick double #000;
}

.item2{
	text-align:center;
	transition: all 0.1s;
	transform: scale(1);
}

.item2:hover{
	transform: scale(1.1);
	box-shadow: 10px 5px 5px #cf7600;
	border: thick double #000;
}

.item3{
	text-align:center;
	transition: all 0.1s;
	transform: scale(1);
}

.item3:hover{
	transform: scale(1.1);
	box-shadow: 10px 5px 5px #cf7600;
	border: thick double #000;
}

.items .item4{
	text-align:center;
	transition: all 0.1s;
	transform: scale(1);
}

.item4:hover{
	transform: scale(1.1);
	box-shadow: 10px 5px 5px #cf7600;
	border: thick double #000;
}

.item1 img{
	height: 60px;
	margin-bottom: 44px; 
}

.item2 img{
	height: 60px;
	margin-bottom: 44px; 
}

.item3 img{
	height: 60px;
	margin-bottom: 44px; 
}

.item4 img{
	height: 60px;
	margin-bottom: 44px;
	text-align: center; 
}

@media(max-width: 768px){
	.item1 img,.item2 img,.item3 img,.item4 img{
		height: 40px;
		margin-bottom: 20px;
	}
}



.item1 h4,.item2 h4, .item3 h4,.item4 h4{
	color: #cf7600;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

@media(max-width: 576px){
	.item1 img,.item2 img,.item3 img,.item4 img{
		height: 30px;
		margin-bottom: 15px;
	}

	.item1 h4,.item2 h4, .item3 h4,.item4 h4{
		font-weight: bold;
		font-size: 15px;
		text-align: center;
		margin-bottom: 10px;
	}
}

.item1 p,.item2 p, .item3 p,.item4 p{
	text-align: center;
	font-size: 15px;
}


.cases h2{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	color: #263244;
}

.cases #chert{
	width: 65px;
}

.cases>p{
	text-align: justify;
}


@media(max-width: 1199px){
	#casePhoto{
		height: 450px;
		width: 750px;
	}
}

@media(max-width: 992px){
	#casePhoto{
		height: 250px;
		width: 550px;
	}
}

@media(max-width: 590px){
	#casePhoto{
		height: 150px;
		width: 350px;
	}
}

.client h3{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}



.project h3{
	font-weight: bold;
	font-size: 20px;
}

.project p{
	text-align: justify;
	font-size: 15px;
}

@media(max-width: 576px){
	.client h3{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 15px;
	}

	.project h3{
		font-weight: bold;
		font-size: 15px;
	}

	.project p{
		text-align: justify;
		font-size: 13px;
	}

}

.cases input{
	background-color: #63b5ae;
	height: 40px;
	text-align: center;
	border:2px solid;
	border-radius: 5px;
	color:#fff;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: -1.8px;
	padding: 0px 40px; /* верх\низ право\лево*/
	transition: all 0.1s;
	transform: scale(1);
}


.cases input:hover{
	color: #000;
}


.price h2{
	text-align: center;
	font-weight: bold;
	font-size: 35px;
}

@media(max-width: 575px){
	.price h2{
		text-align: center;
		font-weight: bold;
		font-size: 25px;
	}
}

.boxing{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.price h4{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

#type_site{
	background: #eeeeee;
	font-size: 15px;
	width: 100%;
	height: 270%;
}


#type_design{
	background: #eeeeee;
	font-size: 15px;
	width: 100%;
	height: 270%;
}

#type_adapt{
	background: #eeeeee;
	font-size: 15px;
	width: 100%;
	height: 270%;
}

.price img{
	width: 100%;
}


.itog p{
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 15px;
}


.price{
	margin-bottom: 150px;
}

.statistics{
	background: url(../img/backstat.png) center/cover no-repeat;
    margin-bottom: 110px;
    background-attachment: fixed;
}

.statistics h2{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 28px;
	color: #263244;
	float: none;
}

@media(max-width: 767px){
	.statistics h2{
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 24px;
		color: #263244;
		float: none;
	}
}

@media(max-width: 462px){
	.statistics h2{
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 20px;
		color: #263244;
		float: none;
	}
}

.statistics #chert{
	width: 65px;
	float: none;
}

.clients, .hours,.end_projects,.reward {
	text-align:center;
}


.clients img, .hours img,.end_projects img,.reward img{
	height: 70px;
	margin-bottom: 20px; 
}

.chsil{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}

.tex{
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #323e4f;
	font-weight: bold;
}


@media(max-width: 576px){
	.clients img, .hours img,.end_projects img,.reward img{
		height: 50px;
		margin-bottom: 15px; 
	}

	.chsil{
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 15px;
	}

	.tex{
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		color: #323e4f;
		font-weight: bold;
	}
}

.feedback{
	margin-bottom: 150px;
}

.feedback h2{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	color: #243042;
	float: none;
}

.feedback #chert{
	width: 65px;
}

.feedback #photo{
	height: 100px;
	height: 120px;
}

.feedback p{
	text-align: center;
	width: 100%;
	font-size: 15px;
}

.feedback span{
	font-weight: bold;
}

.contacts{
	background:url(../img/backcont.png) center/cover no-repeat;
}

.contacts h2{
	text-align: center;
	font-weight: bold;
	padding-top: 80px;
	text-transform: uppercase;
	font-size: 25px;
	color: #fff;
	float: none;
}

.contacts #chert{
	width: 65px;
}

#cont_par{
	color: #fff;
	text-align: center;
	font-size: 15px;
}

.geo,.mail,.number_phone{
	text-align:center;
	transition: all 0.1s;
	transform: scale(1);
}

.geo:hover{
	transform: scale(1.1);
}

.mail:hover{
	transform: scale(1.1);
}

.number_phone:hover{
	transform: scale(1.1);
}

.geo p, .mail p, .number_phone p{
	color:#fff;
	margin-top: 15px;
	font-size: 15px;
	text-align: center;
}

.contacts h4{
	margin-top: 150px;
	font-size: 20px;
	float: none;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
}

.contacts #input1{
	width: 350px;
	height: 37px;
	padding-left: 15px;
	background-color: #d9dce2;
	z-index: 3;
}

.contacts #input2{
	width: 350px;
	height: 37px;
	padding-left: 15px;
	background-color: #d9dce2;
	z-index: 10;
}

#input2:focus{
	border: 2.5px solid #cf7600;
	border-radius: 5px;
}

#input1:focus{
	border: 2.5px solid #cf7600;
	border-radius: 5px;
}

.contacts  textarea{
	padding: 15px 0px 0px 15px; /*верх право низ лево*/
	width: 790px; 
	height: 200px;
	background-color: #d9dce2;
}

textarea:focus{
	border: 2.5px solid #cf7600;
	border-radius: 5px;
}

@media(max-width: 1400px){
	.contacts  textarea{
		padding: 15px 0px 0px 15px; /*верх право низ лево*/
		width: 730px; 
		height: 200px;
		background-color: #d9dce2;
	}
}

@media(max-width: 1200px){
	.contacts  textarea{
		padding: 15px 0px 0px 15px; /*верх право низ лево*/
		width: 750px; 
		height: 200px;
		background-color: #d9dce2;
	}
}

@media(max-width: 991px){
	.contacts  textarea{
		padding: 15px 0px 0px 15px; /*верх право низ лево*/
		width: 455px; 
		height: 100px;
		background-color: #d9dce2;
	}

	.contacts #input1{
		width: 220px;
		height: 37px;
		padding-left: 15px;
		background-color: #d9dce2;
		z-index: 3;
	}

	.contacts #input2{
		width: 220px;
		height: 37px;
		padding-left: 15px;
		background-color: #d9dce2;	
	}
}

@media(max-width: 767px){
	.contacts  textarea{
		padding: 15px 0px 0px 15px; /*верх право низ лево*/
		width: 100%; 
		height: 100px;
		background-color: #d9dce2;
	}

	.contacts #input1{
		width: 100%;
		height: 37px;
		padding-left: 15px;
		background-color: #d9dce2;
		z-index: 3;
	}

	.contacts #input2{
		width: 100%;
		height: 37px;
		padding-left: 15px;
		background-color: #d9dce2;	
	}
}

.contacts #input3{	
	background: none; 
	height: 45px;
	width: 125px;
	text-align: center;
	border:2px solid;
	border-radius: 5px;
	color:#fff;
	font-size: 20px; 
	letter-spacing: -1.8px;
	transition: all 0.1s;
	transform: scale(1);
	margin-bottom: 20px;
}

#input3:active{
	transform: scale(1.1);
	color:#cf7600;
}



footer{
	background:url(../img/backfoot.png) center/cover no-repeat;
	color:#fff;
	font-size: 10px;
	text-align: center;
	letter-spacing: 0.5px;
	padding: 45px;
}

